body{
margin: 0;
}
header{
  background-color: black;
}
main img{
  margin-top: 20px;
  padding-bottom: 20px; 

}
/* Three image containers (use 25% for four, and 50% for two, etc) */
.column {
  float: left;
  width: 24%;
  padding: 4px;
}

/* Clear floats after image containers */
.row::after {
  content: "";
  clear: both;
  display: table;
}

main{background-color: white}